#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  height: 3rem;
  margin: 1rem 0 4rem 0;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes guess-number-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .show {
    animation: guess-number-spin infinite 5s linear;
  }
}

.show {
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.show-span {
  font-size: 3rem;
}
